player-connection-mode=Listen
player-connection-guid=4257592115
player-connection-debug=1
player-connection-project-name=Left Hand Free Solo
player-connection-ip=192.168.1.6
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=40d4146e12514d6887406f844aa345b0
